$font-main: 'Roboto', sans-serif;
$color-primary: #00acdc;
$color-nav-text: #060b35;
$color-title-hover: #34568b;
$color-text-main: #000;
$color-text-light: #707070;
$card-width: 200px;
$transition-speed: 300ms;
